body{    
font-family: 'Raleway', sans-serif;
font-family: 'Permanent Marker', cursive;
margin: 0;
background-image: linear-gradient( #c4fcf9, rgb(168, 235, 255));
}
h1{
    font-size: 50px;
    color:navy
}
h2{
    font-size: 40px;
}
p{
    color:rgb(1, 26, 10);
    font-size: 20px;
}
.name-highlight{
    color:orange;
}
.name-highlight1{
    color: tomato;
}
.half-width{
    width: 40%;
 float: left;
    margin-left: 5%;
    padding-left: 2%;
display: block;
}
.half-width img{
    width: 100%;}
.top-banner{
    background-image: url("developer-portfolio/topbanner2.png");
    background-repeat: no-repeat;

}
section{
    height: 675px;
    width: 100%;
}
.target-area{
    border: 1px salmon;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 40deg, orange, salmon);
    padding: 10px 20px;
    border-radius: 5px ;
    color: snow ;
    font-weight: 700;}
.img2{
    width: 100%;
}
.target-area{
    background-image: url("developer-portfolio/dreambg.png");
    background-repeat: no-repeat;
    background-position: right;

}
.golden-heighlight{
    color: goldenrod;
}
.orange-higlight{
    color: orange;
}
.single-exeperience{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 10px;
height: 65%;
}
.exeperience-area{
    background-image: url("developer-portfolio/bg.png");
    background-repeat: no-repeat;
    background-position: left;
    color: rgb(5, 66, 21);
}
#html-learner{
    border-left: 7px solid;
    border-image: linear-gradient( 150deg,orange,tomato);
    border-image-slice: 1;
}
#entry-level{
    border-left: 6px solid;
    border-image: linear-gradient( 150deg,aqua,blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.footer-img{
    width: 10%;
    position: relative;
}